%h3
  - updated_by_user_name = sanitize_name(@updated_by_user.name)
  - mr_link = sanitize(merge_request_reference_link(@merge_request))
  = s_('Notify|%{updated_by_user_name} pushed new commits to merge request %{mr_link}').html_safe % {updated_by_user_name: updated_by_user_name, mr_link: mr_link}

- if @total_existing_commits_count > 0
  %ul
    %li
      - if @total_existing_commits_count == 1
        - commit_id = @existing_commits.first[:short_id]
        = link_to(commit_id, project_commit_url(@merge_request.target_project, commit_id))
      - else
        = link_to(project_compare_url(@merge_request.target_project, from: @existing_commits.first[:short_id], to: @existing_commits.last[:short_id])) do
          #{@existing_commits.first[:short_id]}...#{@existing_commits.last[:short_id]}
      = precede '&nbsp;- ' do
        - commits_text = n_("#%d commit", "#%d commits", @total_existing_commits_count) % @total_existing_commits_count
        = s_('Notify|%{commits_text} from branch `%{target_branch}`') % {commits_text: commits_text, target_branch: @merge_request.target_branch}

- if @total_new_commits_count > 0
  %ul
    - @new_commits.each do |commit|
      %li
        = link_to(commit[:short_id], project_commit_url(@merge_request.target_project, commit[:short_id]))
        = precede ' - ' do
          #{commit[:title]}
    - if @total_stripped_new_commits_count > 0
      %li
        = s_('Notify|And %{total_stripped_new_commits_count} more') % {total_stripped_new_commits_count: @total_stripped_new_commits_count}
